@import "../../styles/mixins";

.button {
    @include shadowClickable;
    @include circleButton;
    background: transparent;
}

.loader {
    position: relative;
    width: 33px;
    top: -2px;
    right: -10px;
}

.icon {
    margin-top: 4px;
}